<div class="flex gap-2 px-8 relative">

  <!-- image -->
  <div class="w-[100px] h-[130px] bg-[var(--card-color)] items-center justify-center">
    <img alt="product image">
  </div>


  <div class="flex flex-col flex-grow justify-between">
    <!-- header -->
    <div class=" relative">
      <h1>WINTER SNOW</h1>
      <p class="text-xs font-light">Daily Box - 70g brews 17 cups</p>

      <svg class="absolute right-0 top-0" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000"><path d="M306-172q-21.75 0-37.87-16.13Q252-204.25 252-226v-503h-40v-21.67h144V-776h248v25h144v22h-40v503.23q0 22.01-15.88 37.89Q676.24-172 654-172H306Zm380-557H274v503q0 14 9.5 23t22.5 9h348q12 0 22-10t10-22v-503ZM404-276.5h22v-372h-22v372Zm130 0h22v-372h-22v372ZM274-729v535-535Z"/></svg>
    </div>
    
    <!-- footer -->
    <div class="flex items-center justify-between">
      <!-- buttons -->
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="#000000"><path d="M257-469v-23h446v23H257Z"/></svg>
        <input class="  text-center px-2 bg-[var(--input-color)] w-10 h-10" value="1">
        <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="#000000"><path d="M468.5-469H257v-23h211.5v-211.5h23V-492H703v23H491.5v211.5h-23V-469Z"/></svg>
      </div>

      <!-- price -->
       <h1>€ 15,00</h1>
    </div>
  </div>

</div>