<nav>
  <!-- logo -->

  <!-- navigation links -->
   <div class="bg-[var(--neutral-color)]">
      <div class=" mx-[var(--container-gutter)] py-6">

        <!-- left -->
        <div class="flex gap-11 font-medium">
          <div>Tea</div>
          <div>Matcha</div>
          <div>Tea Accessories</div>
          <div>Gifts</div>
          <div>Advent calendars</div>
          <div>Sale %</div>
          <div class="font-normal">Discover</div>
          <div class="font-normal">Magazine</div>
        </div>

        <!-- right -->
        <div>

        </div>
      </div>
   </div>

</nav>